#!/usr/bin/env bash

# Create configuration parameters from user response




# Download EC2 dynamic inventory script
wget https://raw.github.com/ansible/ansible/devel/contrib/inventory/ec2.py /etc/ansible/
chmod +x /etc/ansible/ec2.py
https://raw.githubusercontent.com/ansible/ansible/devel/contrib/inventory/ec2.ini