---
- name: Install Dependencies
  apt: pkg={{ item }} state=present
  with_items:
    - build-essential
    - python-dev
    - python3-pip
    - python3-dev
    - libzmq3
    - libzmq3-dev
    - g++
    - libopenblas-dev
    - libtiff5-dev
    - libjpeg8-dev
    - zlib1g-dev
    - python-matplotlib
    - python-numpy
    - python-pandas
    - texlive
    - texlive-latex-extra
    - pandoc
    - libreadline-dev
    - python-psycopg2
    - python-mpltoolkits.basemap
    - libfontconfig
    - gdebi-core

- name: Install additional Python libraries
  pip: name={{ item }} state=present
  with_items:
    - pygments
    - jsonschema
    - mpld3
    - pyyaml
    - psutil
    - networkx
    - sympy
    - cassandra-driver
